---

---

<div
  class="container px-8 py-6 mx-auto rounded-2xl p-6 bg-gradient-to-r from-violet-500/25 to-fuchsia-500/25 flex md:flex-row flex-col items-center justify-between my-10"
>
  <slot />
</div>
